body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    border: 2px solid #fff;
    padding: 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    background-color: #45a049;
}