* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    background-color: white;
    border: 2px solid #a3cbbd;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
}

.header {
    background-color: #a3cbbd;
    padding: 15px;
}

.footer {
    background-color: #e3e2e2;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.headerInfo {
    font: 10px;
    padding-left: 30px;
}

.formSectionText {
    text-decoration: underline;
}

.registerText {
    margin-left: 50px;
    margin-top: 20px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 20px;
}

.formUnit {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formUnitLabel {
    margin-right: 10px;
}

.formUnitField {
    margin-left: 10px;
}


label {
    font-weight: bold;
}

.required {
    color: red;
    font-weight: 100;
    margin-left: 5px;
}

input,
select,
textarea {
    padding-left: 10px;
    height: 30px;
    width: 225px;
    resize: none;
}
input:focus,
select:focus,
textarea:focus {
    border: 1px solid #a3cbbd; 
    box-shadow: 0 0 5px #a3cbbd; 
    outline: none; 
}
textarea{
    height: 100px;
}


.checkboxLine {
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.checker{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    background-color: #a3cbbd;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: auto;
}
.rightChild{
    padding-right: 30px;
}
.leftChild{
    padding-left: 30px;
}
.chkbox{
    height: 15px;
}
.chkbox:focus{
    border: none;
    box-shadow: none;
}
