body{
    background-color: rgba(73, 69, 69, 0.8);
    color: #FFFFFF;
}
.nameHeader{
    color: rgb(65, 160, 243);
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.name{
    color: rgb(102, 250, 201);
    font-size: 1.1em;
    font-weight: bold;
}

#neighbourList > li {
    list-style: disc;
    font-style: oblique;
}
.movieList  {
   
    color: pink;
}
.movieList > li {
   
    list-style: none;
}

.movieList > li > a {
    font-size: 18px;
    font-style:oblique;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.onCampusList{
    font-family: 'Courier New', Courier, monospace;
}
.onCampusList > li{
    list-style: decimal;
}
a:visited{
    color: lightgreen;
}
a:hover{
    color: rgb(172, 79, 79);
}